<td width="300px">{{article.title}}</td>
@if(!isCollapseNeed){
    <td width="500px">{{article.body}}
}
@else if(isCollapsed){
    <td width="500px">{{article.body | slice:0:100 }}
        <a (click)="collapse()">more</a>
    </td>
}
@else {
    <td width="500px">{{article.body}}
        <a (click)="collapse()">less</a>
    </td>
}

<td><a (click)="openEdit(article.id)">Edit</a></td>
<td><a (click)="delConfirm.show()">Delete</a></td>

<dialog #delConfirm>
    <p>Do you confirm to delete this article?</p>
    <button (click)="deleteArticle(article.id)">
        Yes
    </button> &nbsp;&nbsp;
   <button (click)="delConfirm.close()">
       Cancel
    </button>
 </dialog>

 <dialog [attr.open]="isEditOpen?'':null">
    <h2>Edit Article</h2>
    <app-edit-article [articleId]="editArtId" (edit)="editArticle($event)"></app-edit-article>
 </dialog>