@if(article){
    <h2>Edit Article</h2>
    <form (ngSubmit)="submit()">
        <table>
            <thead>
                <tr>
                    <td>Title</td>
                    <td>Content</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td width="300px"><textarea style="height: 100px; width:200px" name="title" [(ngModel)]="article.title"></textarea></td>
                    <td width="500px"><textarea style="height: 100px; width:400px" name="body" [(ngModel)]="article.body"></textarea></td>
                    <td>            
                        <button type="submit">Submit</button>
                        <button routerLink="/articles">Cancel</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
}
